---
import Layout from "../../../../layouts/Layout.astro"
const {category} = Astro.params;
---
<Layout title={`${category} - Automations`} description={`${category} - Automations`}>
    <div></div>
</Layout>
