<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">Intelligent Business</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/automations/categories">Categories</a></li>
      <li><a href="/automations/integrations">Integrations</a></li>
      <li><a href="/automations/types">Functional Types</a></li>
    </ul>
  </div>
</div>