---
import Layout from "../../../../layouts/Layout.astro"
const {integration} = Astro.params;
---
<Layout title={`${integration} - Automations`} description={`${integration} - Automations`}>
    <div></div>
</Layout>