---
// src/pages/automations/index.astro
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Fetch all automation entries
const automations = await getCollection('automations');

---

<Layout title="Automations" description="Browse our collection of workflow automations">
    <div></div>
</Layout>
